@media (max-width:1024px){

    .sidebar{
        display: none;
    }
    .container-for-header{
        background-color: white;
        max-width: 1024px;
        width: 100%;
        margin: 5px auto;
        padding: 0 15px;
        left: 0px;
    }
    .main_container{
        max-width: 1024px;
        width: 100%;
        margin: 30px auto;
        padding: 0 25px ;
        background-color: #F2F2F2;
    
    }
    .article-content{
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .lego{
        display: none;
    }
    .lego-2{
        display: none;

    }
    .lego-second{
        display: none;

    }
    .ego-second-2{
        display: none;

    }
    .container-for-header{
        background-color: #FFFFFF;
        max-width: 1000px;
        width: 100%;
        left: 0px;
    }
    
    .Load-more-button{
        display: flex;
        justify-content: center;
        background-color: #F2F2F2;
        font-size: 16px;
        line-height: 21px;
        color: #222222;
        border-radius: 10px;
        padding: 10px 50px;
        justify-content: center;
        
    
    }
    
    
    .Load-more-button:hover{
        background-color: #FF2288;
    }
    .main_containers{
        max-width: 1000px;
        width: 100%;
        margin: 20px auto;
        padding: 0 15px ;
        background-color: #FAFAFA;
    }

    .des-article-cont article{
        max-width: 105px;
        width: 100%;
        height: 100px;
    }
    .article-p{
        display: none;
    }
    .article-h3 h3{
        display: none;
    }
    .follow_button {
        display: inline-block;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        outline: none;
        color:black;
        background-color: whitesmoke;
        border: none;
        border-radius: 15px;
        
    }
      
    .follow_button:hover {background-color: #FF2288}

    .grid {
    background-color: white;
    display: grid;
    grid-template-columns: 162px 165px 200px 152px;
    grid-gap: 20px;
    grid-template-rows: repeat(10,20px)  ;
    }

    .grid{
        justify-content: space-around;
    }
    .grid{
        margin-top: 100px;
        justify-content: space-around;
    }
    

}
@media (max-width:768px){
    .sidebar{
        display: none;
    }
    .container-for-header{
        background-color: #FFFFFF;
        
        max-width: 768px;
        width: 100%;
        left: 0px;
    }
    .header-content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0px 20px;
    }
    .icons-cont h3{
        display: none;
    }
    .input-box{
        display: none;
    }
    .search-icon{
        display: none;
    }
    .filters-box{
        margin-top: 50px;
        margin-right: 50px;
    }
    .list-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
        
    }
    .container-for-header{
        background-color: white;
        max-width: 768px;
        width: 100%;
        margin: 5px auto;
        padding: 0 15px;
        left: 0px;
    }
    .main_container{
        max-width: 768px;
        width: 100%;
        margin: 30px auto;
        padding: 0 25px ;
        background-color: #F2F2F2;
    
    }
    .article-content{
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .lego{
        display: none;
    }
    .lego-2{
        display: none;

    }
    .lego-second{
        display: none;

    }
    .ego-second-2{
        display: none;

    }
    .container-for-header{
        background-color: #FFFFFF;
        max-width: 1000px;
        width: 100%;
        left: 0px;
    }
    .Load-more-button{
        display: none;
        
    
    }
   
      
      
    
    .Load-more-button:hover{
        background-color: #FF2288;
    }

   
    .main_containers{
        max-width: 1000px;
        width: 100%;
        margin: 20px auto;
        padding: 0 15px ;
        
    }
    .des-article-cont article{
        max-width: 105px;
        width: 100%;
        height: 100px;
    }
    .article-p{
        display: none;
    }
    .article-h3 h3{
        display: none;
    }
    .follow_button {
        display: none;
        
    }
      
    

    .grid {
        display: none;
    }
    .design_head h4{
        display: none;
    }
    .design_head h2{
        display: flex;
        justify-content: center;
    }
    .follow-all{
        display: flex;
        justify-content: center;
    }
    .follow-all-person{
        display: flex;
        justify-content: center;
        background-color: #F2F2F2;
        font-size: 16px;
        line-height: 21px;
        color: #222222;
        border-radius: 10px;
        padding: 10px 50px;
        justify-content: center;
        
    
    }
    
    
    .follow-all-person:hover{
        background-color: #FF2288;
    }
    

}



