*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}
.contanire-all{
    max-width: 1300px;
    width: 100%;
}
.sidebar{
    position:fixed ;
    height: 100%;
    max-width: 250px;
    width: 100%;
    background-color: black;
    
}
.sidebar-container{
    max-width: 200px;
    width: 100%;
    margin: 5px auto;
    padding: 0 0;
}
.top{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.logo-icon{
    background-color: black;
}
.head{
    color: white;
    margin-top: 20px;
}
.sidebar-content{
    display: flex;
    flex-direction: column;   
}

.nav-button{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.nav-button img{
    margin-right: 10px;
}
.designers-icons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.designers-icons img{
    width: 40px;
    height: 40px;
}
.designers-icons h3{
    color: white;
}

.nav-button {
    display: flex;
    padding: 10px 20px; 
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    border-radius: 15px;
    border-color: black;
    
    
    
}
  
.nav-button:hover {background-color: #FF2288}


.pinkcircle {
    display: block;
    background-color: #FF2288;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 30px;
    top: 3px;
    position: absolute;
}

.lego{
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 25px;
    top: 140px;
    position: absolute;
    background-color: white;
    
}
.lego:hover{
    background-color: #FF2288;
}
.lego-2{
     display: block;
    width: 25px;
    height: 25px;
    margin-left: 25px;
    top: 170px;
    position: absolute;
    background-color: white;
}
.lego-2:hover{
    background-color: #FF2288;
}
.lego-second{
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 25px;
    top: 440px;
    position: absolute;
    background-color: white;
}
.lego-second:hover{
    background-color: #FF2288;
}
.ego-second-2{
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 25px;
    top: 470px;
    position: absolute;
    background-color: white;
}
.ego-second-2:hover{
    background-color: #FF2288;
}

/* main section container-for-header */
.container-for-header{
    background-color: #FFFFFF;
    position: relative;
    max-width: 1040px;
    width: 100%;
    left: 250px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 20px;
}
.input-box{
    width: 346px;
    height: 40px;
    position: relative;
    font-size: 14px;
    line-height: 19px;
    color: #111111;
    opacity: 50%;
    border-radius: 12px;
    padding-left: 20px;
    background-color: #F8F8F8;


}

.search-icon{
    position: absolute;
    left: 330px;
    top: 10px;

    
}
.icons-cont h3{
    color:#FF2288 ;
   
}
.icons-cont img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.icons-cont{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    
}
.upload-button{
    width: 80px;
    height: 40px;

    background-color: #FF2288;
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    border-radius: 10px;
    

}


.upload-button:hover{
    background-color: white;
}
/* .........main_container................ */
.main_container{
    max-width: 1260px;
    width: 100%;
    margin: 30px auto;
    padding: 0 15px ;
    background-color: #FFFFFF;

}
.list-wrapper{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    
}
.filters-box{
    display: flex;
    justify-content: space-between;
    

}
.listing-box{
    display: flex;
    justify-content: space-between;
}
li{
    margin-right: 20px;
    font-family: 'Lato';
}

article p{
    justify-content: center;
    font-family: 'Lato2';
}
/* images and discription */

.article-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article{
    width: 250px;
}
article img{
    width: 250px;
    height: 250px;
    
}
.filters-box{
    display: flex;
    align-items: center;
}
.filters-box{
    width: 80px;
    height: 35px;

    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    border-radius: 5px;
    font-family: 'Lato2';
    

}


.filters-box:hover{
    background-color: #FF2288;
}
.Load-more-button{
    

    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    border-radius: 12px;
    padding: 16px 100px;
    margin-left: 420px;
    margin-top: 70px;
    font-family: 'Lato2';

}


.Load-more-button:hover{
    background-color: #FF2288;
}
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

.container-for-designers{
    max-width: 1200px;
    width: 100%;
    height: 500px;
    background-color: #FAFAFA;
    margin: 20px auto;
    padding: 0 15px ;
    display: flex;
    align-items: center;
}
.main_containers{
    max-width: 1120px;
    width: 100%;
    margin: 20px auto;
    padding: 0 15px ;
    background-color: #FAFAFA;
}
.design_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4{
    font-size: 14px;
    color: #222222;
    text-align: center
    font-family: 'Lato2';
}
.design_head h2{
    font-size: 32px;
    color: #222222;
}
.des-article-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;

}
.des-article-cont article{
    max-width: 105px;
    width: 100%;
    height: 200px;
    
    
}
.article-p{
    display: flex;
    justify-content: center;
    height: 42px;
    font-family: 'Lato';

}
.article-p p{
    font-size: 12px;
    margin-top: 5px;
    font-family: 'Lato2';
}
.article-h3 h3{
    font-size: 16px;
    font-family: 'Lato2';
}

.article-h3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 42px;
    font-family: 'Lato2';


}

.des-article-cont article img{
    
    width: 80px;
    height: 80px;
}

.follow_button {
    display: inline-block;
    /* padding: 15px 25px; */
    font-size: 24px;
    /* cursor: pointer; */
    text-align: center;
    text-decoration: none;
    outline: none;
    color:black;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    
  }
  
  .follow_button:hover {background-color:#999 }






/* grid content */
.grid {
    background-color: white;
    display: grid;
    grid-template-columns: 162px 165px 200px 152px;
    grid-gap: 20px;
    grid-template-rows: repeat(10,20px)  ;
    
    
}
.grid{
    justify-content: space-between;
}
.grid-item {
    /* width: 100px; */
    background-color: white;
    /* margin: 10px; */
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.item-4 {
    grid-column-start: 4;
    grid-column-end: 5;
}
.item-5 {
    grid-row-start: 2 ;
    grid-row-end: 10;
}
.item-7 {
    grid-row-start: 2 ;
    grid-row-end:11;
}
.item-6 {
    grid-row-start: 2 ;
    grid-row-end: 5;
}
.item-8 {
    grid-row-start: 2 ;
    grid-row-end: 7;
}.item-9 {
    grid-row-start: 5;
    grid-row-end: 8;
}
.item-10 {
    grid-row-start: 7 ;
    grid-row-end: 9;
}
.item-11 {
    grid-row-start: 7 ;
    grid-row-end: 10;
    
}
.item-13 {
    grid-row-start: 8 ;
    grid-row-end: 9;
    
}
.item-12 {
    grid-column-start: 4;
    grid-column-end: 5;
}

/* footer-content */
.footer-content{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.footer-content h5{
    color: #222222;
    font-size: 20px;
    font-family: 'Lato2';
    
}
.foot-icons{
    display: flex;
}
/* second page */

.table-section{
    display:flex;
    justify-content: center;
    
}

table td{
    
    border-collapse: collapse;
    border-bottom: 2px solid #E7E7E7;
   
}

td{
   padding: 25px;
}
.titles-box td{
    
    justify-content: center;
}
.titles-box{
    
    font-size: 20px;
    line-height: 24px;
    color: #111111;
    font-family: 'Lato2';
}

.phone-list{
    font-size: 16px;
    line-height: 21px;
    color: #AFAFAF;
    font-family: 'Lato2';
    
}
.phone-list:hover{
    color: #222222;
    background-color: #F2F2F2;
    
}
.dif-phone-list{
    font-size: 16px;
    line-height: 21px;
    color: #FF2288;
}
.dif-phone-list:hover{
    color: #FF2288;
    background-color: #F2F2F2;
    
}
/* second page grid */
.grid{
    margin-top: 100px;
    justify-content: space-around;
}
